.mybackground {
  background-image: linear-gradient(
    92.5deg,
    rgb(173, 211, 209) 11.2%,
    rgb(111, 130, 172) 91.1%
  );
  /* height: 680px; */
  height: 100%;
  text-align: center;
  padding-top: 100px;
}
.imgavt {
  width: 150px;
  border-radius: 10px;
  margin: 50px;
}
.mythongtin {
  font: 20px sans-serif;
  font-weight: 500;
  padding: 10px;
  padding-left: 600px;
  text-align: left;
}
